body {
  min-height: 100vh;
}

.container-fluid {
  padding: 5%;
  background-color: #128bcf;
  min-height: 100%;
}
.container-fluid .jumbotron {
  padding: 3% 15% 0;
  background-color: #ffffff;
}
.container-fluid .jumbotron div:not(:first-child) {
  text-align: center;
  font-weight: 700;
}
.container-fluid .jumbotron .input-group {
  margin-bottom: 15px;
}
.container-fluid .jumbotron .pallet {
  display: none;
}
.container-fluid .btn {
  font-weight: 600;
}
.container-fluid .btn-danger {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ce000d;
}
.row {
  padding-top: 1%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.pull-right {
  text-align: right;
}
.custom {
  color: transparent !important;
}
select {
  height: 34px;
  background-color: #337ab7 !important;
  color: #ffffff;
}
option {
  background-color: #ffffff;
  color: #000000;
}
.submit {
  margin-top: 1%;
}
